# APPLICATION ENVIRONMENT
NODE_ENV=development

# SERVER CONFIGURATION 
PORT=7000

# Local MongoDB connection string
MONGO_URI_LOCAL=mongodb://127.0.0.1:27017/ecommerce

# MongoDB Atlas connection string (Production)
MONGO_URI_PROD=

# JWT authentication
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# Token Expiration
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# SECURITY CONFIGURATION
BCRYPT_SALT_ROUNDS=10